.panda-slider-bg{
    background-color: #FEEAE9;
    border-radius: 25px;
}
.categories img{
    height: 90px;
}
.panda-shoes-section-bg{
    background-color: #F4F4F4;
}
.shoes-card{
    border-radius: 10px;
}